#quiz {
	padding: 10px;
	background: #E9FFAA;	
	height: 300px;
	overflow: auto;
	line-height: 1.3;
	font-size: 15px;
}

#meaning{
	height: 200px;
	overflow: auto;

}

#meaningSpan{
	margin-top: 40px;
}

a.hint{
 margin-left: -5px;
 text-decoration:none;
}